venv/
__pycache__/
insert1.txt
insert2.txt
sqlcommands.txt
scanner.txt
media/img/
prueba.json
fact.json
datos.json
output.pdf
token.txt
.env
peticiones.log
media/json/
web.config
media/apk/app-release.apk
*.pdf
*.apk
