<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <remove name="api_noi" />
            <add name="api_demo" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\api-backend" />
    <add key="WSGI_HANDLER" value="noiapi.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="noiapi.settings" />
  </appSettings>
</configuration>
