body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.dates{
    flex-direction: row;
    background-color: aqua;
}
.image{
    width: 200px;
    height: 100px;
}
.numero {
    background-color: brown;
}